.wrapper {
  margin: 50px auto 0;
  width: 450px;
}
.open{
  height: 60px;
  width: 60px;
}
.box{
  background-color: red;
  height: 150px;
  width: 150px;
  display: inline-flex;
  border: medium solid black;
}
.board {
  background-color: #3b7bbe;
  border-radius: 10px;
  margin-top: 60px;
}

.board button{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 0;
  background-color: #484a4f;

}

button.red {
  background: linear-gradient(to bottom, #ff6363, #c62f2f);
  /*background: linear-gradient(to bottom, #ff1616 0%,#ad0505 100%);*/
}

button.green {
  background: linear-gradient(to bottom, #7bfe7d, #2bc623);
  /* background: linear-gradient(to bottom, #333 0%,#000000 100%);*/
}
